<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>244444899524-apm3uh4iog9pr0m0geonct39dqfh8k8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244444899524-apm3uh4iog9pr0m0geonct39dqfh8k8q</string>
	<key>API_KEY</key>
	<string>AIzaSyB9gIr13KuzG4jgqFWvRxxzQAvI0dQ-a6g</string>
	<key>GCM_SENDER_ID</key>
	<string>244444899524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.capacitor.starter</string>
	<key>PROJECT_ID</key>
	<string>reactive-record-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>reactive-record-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244444899524:ios:03d3625a9065c38c</string>
	<key>DATABASE_URL</key>
	<string>https://reactive-record-demo.firebaseio.com</string>
</dict>
</plist>